* {
  margin: 0; 
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

html {
  background-color: #ffffff;
  /* background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%) fixed;*/
  background-image: url("http://s.facegfx.com/image/2014/7/10/dark-ornate-floral-seamless-pattern-vector-04-free.jpg");;
}

header {
  float: left;
  width: 225px;
  height: auto;
  border-right: solid #404040 1px;
  border-bottom: solid #404040 1px;
  border-radius: 0 0 6px 0;
  padding: 10px;
  margin-right: 10px;
}

h1 {
  font-family: "Great Vibes", cursive;
  font-size: 52px;
  color: firebrick;
  margin: 10px 0;
}

p {
  font-size: 20px;
}


ul {
  padding: 0;
}

li {
  list-style: none;
  font-size: 20px;
  color: whitesmoke;
}

li:hover {
  color: firebrick;
}

main {
  margin:auto;
  width: 600px;
}

.mini-cat {
  height:auto;
  width:30%;
  display: inline-block;
  border: solid black;
  font-size: 15px;
  line-height: 15pt;
  color:whitesmoke;
  position: relative;
  border-radius: 10px;
  background-image: url("https://media.istockphoto.com/vectors/space-starry-sky-background-vector-id833533150?k=20&m=833533150&s=170667a&w=0&h=MazmwAjyh7bzWz3Sl5jANd97uOyZqTUiS7faZHXyloY=");
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  margin: 10px;
  zoom:1;
  content:"";
  transition: all .2s linear;
  padding: 50px;
}

.mini-cat:before {
  content: url(https://raw.githubusercontent.com/OneShepForward/cat-trax/main/assets/522112%20-%20v4.png);
  position: absolute;
  left: 5px;
  top: 5px;
}
.mini-cat:after {
  content: url(https://raw.githubusercontent.com/OneShepForward/cat-trax/main/assets/522112%20-%20v4.png);
  position: absolute;
  right: 5px;
  bottom: 5px;
  clear:both;
}

.mini-cat:hover {
  cursor: pointer;
  border-color: firebrick;
  }

.mini-cat:hover {
  box-shadow: 0 20px 16px 0 rgba(0, 0, 0, 0.685);
}

.mini-cat-image {
  object-fit: cover;
  float:center;
  width: 90%;
  padding: 5px;
  height: 300px;
  
}
.cat-details h2 {
  font-size: 32px;
  text-align: center;
}

.cat-details h3 {
  font-size: 40px;
  background: -webkit-linear-gradient(rgb(0, 0, 0), firebrick);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: “Open Sans”, sans-serif;
  color: #f5f5f5;
  text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px         #F90, 0px -20px 40px #C33;
}

.cat-details img {
  display: block;
  height: 200px;
  margin: 0 auto 25px auto;
}

form {
  width: 450px;
  margin: 0 auto 50px auto;
}

textarea {
  display: none;
  width: 100%;
  height: 40px;
  border: 1px solid gray;
  padding: 5px;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

form button[type="click"] {
  border: 5px solid black;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #690000;
  color: #fff;
  padding: 7px 10px;
  cursor: pointer;
}

#deleteBttn {
  border: 5px solid black;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #690000;
  color: #fff;
  padding: 7px 10px;
  margin-top: 20px;
  margin-bottom: -10px;
  cursor: pointer;
}

form button[type="submit"] {
  border: 0px solid black;
  text-transform: uppercase;
  cursor: pointer;
  background-image: linear-gradient(to right, #000000 0%, firebrick 100%);
	border-radius: 40px;
  box-sizing: border-box;
	color: whitesmoke;
	display: none;
	font: 1.125rem 'Oswald', Arial, sans-serif; /*18*/
	height: 80px;
	letter-spacing: 1px;
	margin: 0 auto;
	padding: 4px;
	position: relative;
  text-decoration: none;
	text-transform: uppercase;
	width: 264px;
	z-index: 2;  
}

.comment-button{
  border: 0px solid black;
  text-transform: uppercase;
  cursor: pointer;
  background-image: linear-gradient(to right, #000000 0%, firebrick 100%);
	border-radius: 40px;
  box-sizing: border-box;
	color: whitesmoke;
	display: block;
	font: 1.125rem 'Oswald', Arial, sans-serif; /*18*/
	height: 80px;
	letter-spacing: 1px;
	margin: 0 auto;
	padding: 4px;
	position: relative;
  text-decoration: none;
	text-transform: uppercase;
	width: 264px;
	z-index: 2;
  margin-bottom: 20px;
}


#cat-card li {
  background-color: #fff7bf;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.cat-card {
  border: solid;
  padding: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: auto;
  float: center;
  text-align: center;
  max-width: 50%;
  object-fit: cover;
  position: relative;
  border-radius: 10px;
  background-image: url("https://media.istockphoto.com/vectors/space-starry-sky-background-vector-id833533150?k=20&m=833533150&s=170667a&w=0&h=MazmwAjyh7bzWz3Sl5jANd97uOyZqTUiS7faZHXyloY=");
  -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  transition: all .2s linear;
}

.cat-card img {
  width:100%;
  height:auto;
}

.cat-card:hover {
  box-shadow: 0 20px 16px 0 rgba(0, 0, 0, 0.685);
  color: firebrick;
  
}

.cat-card:before {
  content: url(https://raw.githubusercontent.com/OneShepForward/cat-trax/main/assets/522112%20-%20v4.png);
  position: absolute;
  left: 5px;
  top: 5px;
}

.cat-card:after {
  content: url(https://raw.githubusercontent.com/OneShepForward/cat-trax/main/assets/522112%20-%20v4.png);
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.cat-card:hover {
  cursor: pointer;
  }

.center-screen {
  width: 100%;
   text-align: center;
}

#menagerie {
  display: table;
  position:absolute;
  left:24.5%;
  margin:auto;
  width: 50vw;
  text-align: center;
}

/* Set up mouseover stats */
.mini-cat {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.mini-cat .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  border-radius: 6px;

  opacity: 0;
  transition: opacity 0.5s;

  top: 50%;
  left: 50%;
  margin-left: 30px;
 
  /* Position the tooltip text */
  position: absolute;

  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.mini-cat:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  font-size: 20px;
}



