body {
  box-sizing: border-box;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #404040;
  text-align: center;
}

header {
  float: left;
  width: 225px;
  height: auto;
  border-right: solid #404040 1px;
  border-bottom: solid #404040 1px;
  border-radius: 0 0 6px 0;
  padding: 10px;
  margin-right: 10px;
}

h1 {
  font-family: "Great Vibes", cursive;
  font-size: 52px;
  color: firebrick;
  margin: 10px 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

nav ul {
  margin-left: 15px;
}

nav ul li {
  padding: 5px;
  cursor: pointer;
}

nav ul li:hover {
  background-color: red;
  color: #fff;
}

main {
  margin:auto;
  width: 600px;
}
.mini-cat {
  height:auto;
  width:45%;
  display: inline-block;
  border: solid #690000;
  font-size: 10px;
  line-height: 5pt;
  margin: 0px 0px 10px 10px;
  background-color: rgb(250, 197, 128);
  color:black;

}

.mini-cat:hover {
  box-shadow: 0 20px 16px 0 rgba(0, 0, 0, 0.685);
}

.mini-cat-image {
  object-fit: cover;
  float:center;
  width: 90%;
  padding: 5px;
  height: 300px;
  
}
.cat-details h2 {
  font-size: 32px;
  text-align: center;
}

.cat-details h3 {
  font-size: 24px;
}

.cat-details img {
  display: block;
  height: 200px;
  margin: 0 auto 25px auto;
}

form {
  width: 450px;
  margin: 0 auto 50px auto;
}

textarea {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid gray;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

form button[type="click"] {
  border: 5px solid black;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #690000;
  color: #fff;
  padding: 7px 10px;
  cursor: pointer;
}

form button[type="submit"] {
  border: 5px solid black;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #690000;
  color: #fff;
  padding: 7px 10px;
  cursor: pointer;
}

.comment-button{
  border: 5px solid black;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #690000;
  color: #fff;
  padding: 7px 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

#cat-card li {
  background-color: #fff7bf;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.cat-card {
  background-color: rgb(250, 197, 128);
  border: solid;
  border-color: #690000;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: auto;
  float: center;
  text-align: center;
  max-width: 50%;
  object-fit: cover;
}

.cat-card img {
  width:90%;
  height:auto;
}

.cat-card:hover {
  box-shadow: 0 20px 16px 0 rgba(0, 0, 0, 0.685);
}

.center-screen {
  width: 100%;
   text-align: center;
}

#menagerie {
  display: table;
  position:absolute;
  left:32.5%;
  margin:auto;
  width: 35vw;
  text-align: center;
}

